---
container_name: node-exporter
docker_images: prom/node-exporter:v1.3.1
container_command:
  - '--path.procfs=/host/proc' 
  - '--path.sysfs=/host/sys'
  - --collector.filesystem.ignored-mount-points
  - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
container_volumes:
  - /proc:/host/proc:ro
  - /sys:/host/sys:ro
  - /:/rootfs:ro
