- name: Update APT package index
  apt:
    update_cache: yes
  become: yes
- name: Install required system packages
  apt:
    pkg:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - python3-pip
      - virtualenv
      - python3-setuptools
  become: yes
- name: Add Docker's official GPG Key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present
  become: yes
- name: Add Docker Repository
  apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu focal stable
    state: present
  become: yes
- name: Update APT package index
  apt:
    update_cache: yes
  become: yes
- name: Install Docker Engine, containerd and Docker Compose
  apt:
    pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
  become: yes
- name: Install Docker Module for Python
  pip:
    name: docker
  become: yes
- name: Install Docker compose Module for Python
  pip:
    name: docker-compose
  become: yes
