<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VDT2022</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1>Danh sách lớp</h1>
    <table>
        <tr>
        <th>STT</th>
        <th>Tên ứng viên</th>
        <th>Năm sinh</th>
        <th>Trường</th>
        <th>Chuyên ngành</th>
        </tr>
        {% for todo in todos %}
        <tr>
        <td> {{ todo['STT'] }} </td>
        <td> {{ todo['Tên ứng viên']}} </td>
        <td> {{ todo['Năm sinh']}} </td>
        <td> {{ todo['Trường']}} </td>
        <td> {{ todo['Chuyên ngành']}} </td>
        </tr>
            <!--<p>{{ todo['STT'] }} <i>{{ todo['Tên ứng viên']}}</i> <i>{{ todo['Năm sinh']}}</i> <i>{{ todo['Trường']}}</i> <i>{{ todo['Chuyên ngành']}}</i></p> -->
        {% endfor %}
    </table>
    </div>
</body>
